# Get Reviews from Google Maps
### Using the GoogleMaps API & Python

First, you will need an API key. See this link to get yours:

https://developers.google.com/places/web-service/get-api-key#creating-api-keys

www.github.com/LiamPearson

### Note:
- Only 5 reviews per place (unless you 'own' the place)
- Need a GCP (Google Could Platform) API key

### Approach
1. Convert the Business Name to a place_id (uses 'place**s**')
2. Get the corresponding review & rating for that place_id (uses 'place')

## Install and import libraries

In [1]:
#! pip install -U googlemaps

import googlemaps 
import pandas as pd

## Get a googlemaps object

In [2]:
APIkey = 'AIzaSyAPJanKTJLFzGJDY_aLi2mSeCoWC-2S4D0'
gmaps = googlemaps.Client(key=APIkey)

## Example: Import reviews for 1 restaurant
### 1) Get Place ID
Once you have a place_id from a __Place Search__ , you can request more details about a particular establishment or point of interest by initiating a Place Details request. A Place Details request returns more comprehensive information about the indicated place such as its complete address, phone number, user rating and reviews.

Review <-- place_id <-- Business Name

In [28]:
xls = pd.ExcelFile('C:\\Users\\Belgau\\Desktop\\FleetPride_data.xlsm')
df = pd.read_excel(xls, 'data')

scrapped_data = []

for location in df['locations']:
    location = 'FleetPride ' + location
    places_result = gmaps.places(location)
    
    business_status = places_result['results'][0]['business_status']
    address = places_result['results'][0]['formatted_address']
    rating = places_result['results'][0]['rating']
    try:
        price_level = places_result['results'][0]['price_level']
    except:
        price_level = ''
    
    review_count = places_result['results'][0]['user_ratings_total']
    
    scrapped_data.append({
        'business_status': business_status,
        'address': address,
        'rating': rating,
        'price_level': price_level,
        'review_count': review_count})
        
df_scrap = pd.DataFrame(scrapped_data)
df_scrap

,business_status,address,rating,price_level,review_count
0,OPERATIONAL,"2403 21st St N, Birmingham, AL 35234, United S...",4.7,2,60
1,OPERATIONAL,"1101 McEntire Ln NW, Decatur, AL 35601, United...",4.8,2,24
2,OPERATIONAL,"2308 N Range St, Dothan, AL 36303, United States",4.8,2,28
3,OPERATIONAL,"5245 Halls Mill Rd, Mobile, AL 36619, United S...",4.5,2,48
4,OPERATIONAL,"5947 Old Montgomery Hwy, Tuscaloosa, AL 35405,...",4.7,2,26
...,...,...,...,...,...
106,OPERATIONAL,"1790 Velp Ave, Green Bay, WI 54303, United States",4.6,2,22
107,OPERATIONAL,"5201 Heffron Ct Bldg B, Stevens Point, WI 5448...",4.7,2,26
108,OPERATIONAL,"490 Ragland Rd, Beckley, WV 25801, United States",4.9,2,8
109,OPERATIONAL,"60 Columbia Blvd, Clarksburg, WV 26301, United...",4.3,2,36
110,OPERATIONAL,"3204 MacCorkle Ave SW, South Charleston, WV 25...",4.4,2,23

In [31]:
ds = pd.concat([df, df_scrap], axis=1)
ds.to_csv('FP_dataset.csv')
ds.head()

,locations,service_center,business_status,address,rating,price_level,review_count
0,AL Birmingham,1.0,OPERATIONAL,"2403 21st St N, Birmingham, AL 35234, United S...",4.7,2,60
1,AL Decatur,NaN,OPERATIONAL,"1101 McEntire Ln NW, Decatur, AL 35601, United...",4.8,2,24
2,AL Dothan,NaN,OPERATIONAL,"2308 N Range St, Dothan, AL 36303, United States",4.8,2,28
3,AL Mobile,1.0,OPERATIONAL,"5245 Halls Mill Rd, Mobile, AL 36619, United S...",4.5,2,48
4,AL Tuscaloosa,NaN,OPERATIONAL,"5947 Old Montgomery Hwy, Tuscaloosa, AL 35405,...",4.7,2,26

In [39]:
#This shows the meta data available from the API for each location

place_name = 'Fleetpride' + ' ' + 'kyle-wilson'
places_result = gmaps.places(place_name)

full_text = places_result['results'][0]
full_text

{'business_status': 'OPERATIONAL',
 'formatted_address': '17000 S Main St, Gardena, CA 90248, United States',
 'geometry': {'location': {'lat': 33.8771916, 'lng': -118.2739491},
  'viewport': {'northeast': {'lat': 33.87856372989273,
    'lng': -118.2727561201073},
   'southwest': {'lat': 33.87586407010728, 'lng': -118.2754557798927}}},
 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png',
 'icon_background_color': '#7B9EB0',
 'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet',
 'name': 'FleetPride',
 'opening_hours': {'open_now': True},
 'photos': [{'height': 1944,
   'html_attributions': ['<a href="https://maps.google.com/maps/contrib/114166738226701436645">A Google User</a>'],
   'photo_reference': 'Aap_uEDwUlgJVxdLFTpd7T0XfsfUCQD24H-ttv1GAhjTSk46_Y_Md5R6WXubZFq2OIrE-VetMa8gKTrsLqQr-kvcgu5clf3Vwtn-fcyLx0Md3R58WkGtkqRCyTWAHhsIHFRfB5mF8I02CH0skpdOiC6seLeWZiQP6pcsZf9d_4NkwDWZj5jA',
   'width': 2592}],
 'place_id': 'ChIJD-1BxurKwoAR2u5NS3-6Go0',
 'plus_code': {'compound_code': 'VPGG+VC Gardena, California',
  'global_code': '8553VPGG+VC'},
 'price_level': 2,
 'rating': 4.2,
 'reference': 'ChIJD-1BxurKwoAR2u5NS3-6Go0',
 'types': ['car_repair', 'point_of_interest', 'store', 'establishment'],
 'user_ratings_total': 37}

### 2) Get Review (5-star rating and text)

In [19]:
place = gmaps.place(place_id = place_id)

reviews = [] #empty list which will hold dictionaries of reviews

for i in range(len(place['result']['reviews'])):
    text = place['result']['reviews'][i]['text']
    rating = place['result']['reviews'][i]['rating']
    
    reviews.append({'rating':rating,
                   'text':text
                   }
                  )
    
df = pd.DataFrame(reviews)
df

   rating                                               text
0       5  Awesome people!  Cannot say enough about these...
1       5  Great service have done nothing but help our c...
2       5  Great and fast service, they are all very frie...
3       5  Awesome customer service, awesome prices and o...
4       5  My wife and I are traveling from Montana pulli...

In [19]:
# if you want to save to csv:
#df.to_csv('Mcdonalds_google_reviews.csv', index=False)